{% extends 'admin/manage.html' %}
{% load static %}
{% block blog-product %}
    <div class="container mt-4" style="background-color: #ffffff; border: 1px solid #a8a4a4; border-radius: 5px">
        <h4 class="mb-2 text-center mt-3">SỬA SẢN PHẨM</h4>
        <hr>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="categoryName">Tên Sản Phẩm:</label>
                        {{ product_form.name }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="categoryName">Đơn Vị:</label>
                        {{ product_form.unit }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="categoryName">Danh Mục:</label>
                        {{ product_form.category }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="categoryName">Giá:</label>
                        {{ product_form.price }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="categoryName">Giá Sale:</label>
                        {{ product_form.price_sale }}
                    </div>
                </div>
                <div class="col-12">
                    <div class="form-group">
                        <label for="categoryName">Mô tả:</label>
                        {{ product_form.describe }}
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label for="categoryName">Ảnh:</label>
                        {{ product_form.image }}
                    </div>
                </div>
            </div>
            <div>
                <div id="sizes-container">
                    {% for size in sizes_and_quantities %}
                        <div class="size-entry">
                        <div class="d-flex">
                            <div class="col-5">
                                <lable>Size</lable>
                                <input class="form-control" type="text" name="sizes[]" value="{{ size.size }}"
                                       placeholder="Size">
                            </div>
                            <div class="col-5">
                                <lable>Số lượng</lable>
                                <input class="form-control" type="number" name="quantities[]"
                                       value="{{ size.quantity }}" placeholder="Số lượng">
                            </div>
                            <div class="col-2 align-self-end">
                                <button type="button" class="btn btn-danger remove-size">Xóa</button>
                            </div>
                        </div>
                        </div>
                    {% endfor %}
                </div>

            </div>
        <div class="mt-4 mb-2 d-flex justify-content-center">
            <button type="button" class="btn btn-secondary mr-2" id="add-size">Thêm Size</button>
            <button type="submit" class="btn btn-primary">Lưu thay đổi</button>
        </div>
        </form>


    </div>
    <script>
        document.getElementById('add-size').addEventListener('click', function () {
            var container = document.getElementById('sizes-container');
            var newSizeEntry = document.createElement('div');
            newSizeEntry.classList.add('size-entry');
            newSizeEntry.innerHTML = `
                            <div class="d-flex">
                                <div class="col-5">
                                    <lable>Size</lable>
                                    <input class="form-control" type="text" name="sizes[]"  placeholder="Size">
                                </div>
                                <div class="col-5">
                                    <lable>Số lượng</lable>
                                    <input class="form-control" type="number" name="quantities[]"  placeholder="Số lượng">
                                </div>
                                <div class="col-2 align-self-end">
                                    <button type="button" class="btn btn-danger remove-size">Xóa</button>
                                </div>
                            </div>

{#        <input type="text" name="sizes[]" placeholder="Size" class="form-control">#}
{#        <input type="number" name="quantities[]" placeholder="Số lượng" class="form-control">#}
{#        <button type="button" class="btn btn-danger remove-size">Xóa</button>#}
      `;
            container.appendChild(newSizeEntry);
        });

        document.addEventListener('click', function (event) {
            if (event.target.classList.contains('remove-size')) {
                event.target.parentElement.remove();
            }
        });
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

{% endblock blog-product %}